<div class="containee-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
           <p class="text-center sub-heading">we will happy to help you</p>
           <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <form action="/contact" method="POST">
                <div class="form-group">
                    <label for="exampleInputPassword">name</label>
                    <input type="text" class="form-control" id="exampleInputPassword" placeholder="Full Name" name="name">
                </div>

                

                <div class="form-group">
                    <label for="exampleInputPassword">phone</label>
                    <input type="text" class="form-control" id="exampleInputPassword" placeholder="phone" name="phone">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="enter your email" name="email">
                </div>



                <div class="form-group">
                    <label for="exampleInputPassword">message</label>
                    <input type="text" class="form-control" id="exampleInputPassword" placeholder="message" name="message">
                </div>

                <button type="submit" class="btn-style btn-primary">submit</button>
                </form>
            </div>
           </div>
        </div>
    </div>
</div>